@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
/*@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); 
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
body{
  margin: 0;
  padding: 0;
  /*font-family: 'Nanum Myeongjo', serif;*/
  font-size: 1.2em;
  line-height: 1.8;
  color: #616161;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}
a{
  text-decoration: none;
  color: #4d5256;
}
a:visited {
  color: #616161;
}
/* For mobile phones: */
.container{
  max-width: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  /*background-image: url(img/cream-pixels.png);*/
}
/* desktop */
@media only screen and (min-width: 768px) {
  .container{
    max-width: 412px;
  }
  body{
    font-size: 1.2em;
  }
}
.noto {
    font-family: 'Noto Sans Korean', sans-serif;
}
.teaser-text{
  position: absolute;
  font-size: 1.95em;
  color: white;
  line-height: 1.5;
  font-family: 'Nanum Myeongjo', serif;
}
.bride {
  bottom: 7%;
  left: 8%;
}
.groom {
  bottom: 7%;
  right:8%;
}

.teaser-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.teaser-container{
  width: 100%;
  height: 80%;
  position: relative;
  opacity: 0.0;
}
/* #invitee{
  display: inline-block;
} */
.divider{
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  margin: 5%;
}

.primary{
  color: #4d5256;
  font-size: 1.05em;
  font-weight: bold;
}

.secondary{
  color: #a9afb3;
  font-size: 0.95em;
  font-weight: bold;
}

#image-list{
  width: 100%;
  content: "";
  clear: both;
  display: table;

}

.image-container{
  box-sizing: border-box;
  width: 33.33%;
  height: 8rem;
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.image-thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#heart{
  color: #E91E63;
  display: inline-block;
}
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
#popup-content {
    margin: auto;
    display: block;
    position: relative;
    width: 90%;
    max-width: 700px;
}
#popup-image{
  width: 100%;
}
#popup-close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    line-height: 1;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 32px;
    font-weight: bold;
    background-color: #BDBDBD;
}
