@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
/*@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
  margin: 0;
  padding: 0;
  /*font-family: 'Nanum Myeongjo', serif;*/
  font-size: 1.1em;
  line-height: 1.8;
  color: #616161;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Noto Sans KR', sans-serif;
}
a{
  text-decoration: none;
  color: #616161;
}
a:visited {
  color: #616161;
}
/* For mobile phones: */
.container{
  max-width: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  /*background-image: url(img/cream-pixels.png);*/
}
/* desktop */
@media only screen and (min-width: 768px) {
  .container{
    max-width: 412px;
  }
}
.teaser-text{
  position: absolute;
  font-size: 2.3em;
  color: white;
  line-height: 1.1;
  font-family: 'Nanum Myeongjo', serif;
}
.bride {
  top: 5%;
  right: 8%;
}
.groom {
  top:5%;
  left:8%;
}

.teaser-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.teaser-container{
  width: 100%;
  height: auto;
  position: relative;
  opacity: 0.0;
}
.second-teaser-image{
  width: 100%;
  height: 10rem;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
#invitee{
  display: inline-block;
  font-weight: bold;
  color: #ffc107;
}
.divider{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.secondary{
  font-size: 0.9em;
}

.muted{
  font-size: 0.9em;
  color:#9E9E9E;
}
#image-detail{
  width: 100%;
}
/*#image-detail .slick-next{
  right:20px;
}
#image-detail .slick-prev{
  left: 20px;
  z-index: 1;
}*/
#image-list{
  width: 100%;
  margin: auto;
}
.slick-prev:before, .slick-next:before{
  color: gray;
}
.image-container{
  padding: 5px;
}
.image-thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#heart{
  color: #ffc107;
  display: inline-block;
}
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.footer{
  background-color: #ffc107;
  margin: 0%;
  padding: 2%;
  color: white;
  font-size: 0.8em;

}
